section {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(#00d2ff, #928dab);
}

h1,
h2,
h3 {
  align-self: center;
  text-align: center;
  /* text-shadow: 0 1px 0 #cac8c8, 0 1px 0 #c7c5c5, 0 1px 0 #bbbaba,
    0 1px 0 #b7b6b6, 0 1px 0 #a9a6a6, 0 6px 1px rgb(0 0 0 / 20%),
    0 0px 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%),
    0 3px 2px rgb(0 0 0 / 10%), 0 5px 2px rgb(0 0 0 / 20%),
    0 5px 5px rgb(0 0 0 / 30%), 0 5px 5px rgb(0 0 0 / 10%);
  color: #6200ff; */
}
ul {
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
  width: 95%;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px #ffffff;
}
li,
p {
  display: flex;
  width: 99%;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 1.15px;
  /* text-shadow: 0 1px 0 #cac8c8, 0 1px 0 #c7c5c5, 0 1px 0 #bbbaba,
    0 1px 0 #b7b6b6, 0 1px 0 #a9a6a6, 0 6px 1px rgb(0 0 0 / 20%),
    0 0px 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%),
    0 3px 2px rgb(0 0 0 / 10%), 0 5px 2px rgb(0 0 0 / 20%),
    0 5px 5px rgb(0 0 0 / 30%), 0 5px 5px rgb(0 0 0 / 10%); */
}
li {
  padding: 2px;
  border-bottom: groove 2px;
}
p {
  margin: 5px;
}
.userContactDiv {
  width: 70%;
}
